/* styles.css */
@import "../styles/neon.css";

.container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vh;
  margin: 0px;
  color: var(--color-text);
}

.title{
    width: 40vw;
    border-radius: 5%;
    background-color: var(--color-tertiary);
}

.input{
    width: 20vw;
    padding: 1%;
}

.inputContainer{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.error{
    display: flex;
    justify-content: right;
    color: var(--color-tertiary);
}

.okMessage{
    display: flex;
    justify-content: right;
    color: var(--color-tertiary);
}

.labels{
    display: flex;
    justify-content: left;
    width: 10vw;
}

.button{
    color: var(--color-text);
    background-color: var(--color-primary);
    border-radius: 2%;
}

.button:hover{
    background-color: var(--color-tertiary);
}

.button:disabled{
    border: 1px solid;
    border-radius: 2%;
    border-color: var(--color-secondary);
    background-color: var(--color-background);
}

/* Estilos para pantallas pequeñas y medianas */
@media (max-width: 1023px) {
  .inputContainer{
        display: flex;
        flex-direction: column;
    }

    .input{
        width: 60vw;
    }

    .labels{
        display: flex;
        justify-content: left;
        width: 60vw;
    }
}

